body{
    background-color: black;
    color: cornsilk;
    font-size: xx-large;
    text-align: center;
    font-style: inherit;
}

#countdown{
    border-style: dashed;
    border-color: cyan;
    border-width: 2px;
    font-style: oblique;
}





